.page {
    position: relative;
    background-color: #151919;
    min-height: 100vh;
    display: block;
    overflow: hidden;
    
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url('../img/logo-bg.png');
        width: 1109px;
        height: 1035px;
        pointer-events: none;
    }
}

.content {
    padding: 75px 0;

    .text {
        margin-top: 65px;
        max-width: 665px;
        padding-left: 20px;

        p {
            font-size: 20px;
            line-height: 2;

            a {
                color: @green;
                text-decoration: underline;
            }
        }
    }

    .contacts {
        font-size: 15px;
        color: @green;
        text-decoration: underline;
        display: inline-block;
        margin-top: 21px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 40px 0 75px;

        .text {
            padding-left: 0;

            p {
                font-size: 18px;    
            }
        }         
    }
}

@media screen and (max-width: 768px) {
    .content {
        .text {
            margin-top: 40px;

            p {
                font-size: 15px;
            }
        }
    }
}